nav {
    margin: 0 auto;
    width: 600px;
}

#ng-content {
    margin: 50px auto;
    width: 800px;
}
table {
    border: 1px solid;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td{
    padding:5px;
}
table, tr, td {
    border-collapse: collapse;
}

    tr td:first-child {
        width: 150px;
    }

    table tr td {
        border: 1px solid red;
    }

.btn {
    margin-left: 150px;    
    width:150px;
}
#btnSave{
    font-weight: bold;
}
.description {
    width: 300px;
}
